@model QueryLogModel

@section scripts{
    <script>
        window.pageModule = {
            model: (@Json.Serialize(Model))
        };
    </script>
}

<form asp-controller="Home" asp-action="Index" method="get">
    <p>
        @Html.EditorFor(o=>o.Query)
        @Html.EditorFor(o=>o.EnalbeTail)
        <input type="submit" value="Filter" />
    </p>
    <table :title="model.influxResults.results[0].series[0].name">
        <thead>
            <tr>
                <th>时间</th>
                <th>应用</th>
                <th>日志</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in model.influxResults.results[0].series[0].values">
                <td>{{new Date(item[model.influxResults.results[0].series[0].columns.indexOf('time')]).toLocaleString()}}</td>
                <td>{{item[model.influxResults.results[0].series[0].columns.indexOf('ApplicationName')]}}</td>
                <td>{{item[model.influxResults.results[0].series[0].columns.indexOf('RenderedMessage')]}}</td>
            </tr>
        </tbody>
    </table>
    @Html.DropDownListFor(o=>o.PageSize,Model.PageSizeList)
</form>

